In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('training.full.csv')
data.head(3)

,Sentiment,TwitterID,Date,QueryType,UserID,Tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...

In [24]:
data = data[['Sentiment', 'Tweet']]
data.rename(columns={'Sentiment': 'sentiment', 'Tweet': 'tweet'}, inplace=True)

In [25]:
yCol = 'sentiment'
x = data.drop(yCol, axis=1)
y = data[[yCol]]

In [26]:
# Defines ratios, w.r.t. whole dataset.
ratio_train = 0.85
ratio_val = 0.10
ratio_test = 0.05

# Produces test split.
x_remaining, x_test, y_remaining, y_test = train_test_split(
    x, y, test_size=ratio_test
)

# Adjusts val ratio, w.r.t. remaining dataset.
ratio_remaining = 1 - ratio_test
ratio_val_adjusted = ratio_val / ratio_remaining

# Produces train and val splits.
x_train, x_val, y_train, y_val = train_test_split(
    x_remaining, y_remaining, test_size=ratio_val_adjusted
)

In [27]:
train = pd.concat([x_train, y_train], axis=1).reset_index(drop=True)
valid = pd.concat([x_val, y_val], axis=1).reset_index(drop=True)
test = pd.concat([x_test, y_test], axis=1).reset_index(drop=True)

In [28]:
train.head()

                                               tweet  sentiment
0  Just had the best salsa. Homemade salsa: Fresh...          4
1  My feet are killing, I've walked miles in sear...          0
2  Is pretty damn chipper today  even if the weat...          4
3  @nj_linguist this should answer your question ...          4
4    Another pic of the car  http://yfrog.com/46p7lj          0

In [30]:
train['sentiment'].value_counts()

0    680212
4    679788
Name: sentiment, dtype: int64

In [31]:
valid['sentiment'].value_counts()

4    80201
0    79799
Name: sentiment, dtype: int64

In [32]:
test['sentiment'].value_counts()

4    40011
0    39989
Name: sentiment, dtype: int64

In [34]:
train.to_csv('train.csv', index=False)
valid.to_csv('valid.csv', index=False)
test.to_csv('test.csv', index=False)